
button {
  border-color: rgb(109, 240, 196);
  color: rgba(14, 19, 19, 0.653);
  padding: 10px;

}
button:hover {
  background-color: rgb(99, 94, 94);
  
}
img {
  max-width: 100%;
  background-color: black;
  box-shadow: 3px 4px 5px;
  
}
h1 {
  text-align: center;

}
h5{
   text-align: center;
}
#v1 {
  float: left;
  
}
body {
  background-image: url(Backgroundimg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
