@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(144, 144, 245);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation bar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 8vw;
  align-items: center;
  box-shadow: 2px 2px 10px;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 244, 227);

}
nav img {
  width: 150px;
  cursor: pointer;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin: 30px; 
  text-decoration: none;
}
nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;

}
nav .navigation ul li a:hover {
  color: hsl(4, 100%, 58%);
  
}
#home {
  background-image: url("BG.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
   
} 
#home h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  letter-spacing: 1px;
}
#home h3 {
  color: hwb(0 42% 2%);
}
#home p {
  width: 50%;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  line-height: 25px;
}
#home a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}
#home .btn {
  margin-top: 30px;
}
#home a.blue {
  color: white;
  background: rgb(21, 21, 100);
}
#home a.blue:hover {
  color: rgb(21, 21, 100);
  background: white;
}
#home a.yellow {
  color: white;
  background: rgba(228, 217, 6, 0.845);
}
#home a.yellow:hover {
  color: rgba(197, 187, 0, 0.845);
  background: white;
}
#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;

}
#features .fea-box {
  background: white;
  text-align: start;
}
#features .fea-box i{
  font-size: 2.3rem;
  color: rgb(44, 44, 80)
}
#features .fea-box h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(44, 44, 80);
  padding: 13px 0 7px 0;

}
#features .fea-box h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(44, 44, 80);
  padding: 13px 0 7px 0;

}
#features .fea-box p{
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(70, 70, 80);

}
